# The .gitignore file tells git which files to ignore :)
# Editor Settings
.idea/
.vscode/

# OS Specific
.DS_Store
Desktop.ini

# Byte-Code
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.env

# Packages
*.egg
*.egg-info
build
eggs
parts
scripts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Lock files
poetry.lock
pipenv.lock

# Jupyter
.ipynb_checkpoints/
